.ant-pro-card-body {
  padding: 24px 10px 24px 10px;
}
.ant-pro-steps-form-container {
  text-align: center;
  min-width: 200px;
  padding:0;
  margin:0;
  width: 100%;
  .ant-form > div:not(.ant-pro-form-light-filter) .pro-field-sm {
    width: 500px;
  }
  .ant-select-selection-item {
    text-align: left;
  }
}
.emoji-wrapper {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 60px;
}

@media (min-width: 400px) {
  .ant-pro-steps-form-container {
    min-width: 200px;
    padding:0;
    margin:0;
    width: 100%;
    .ant-form > div:not(.ant-pro-form-light-filter) .pro-field-sm {
      width: 310px;
    }
  }
}

@media (min-width: 640px) {
  .ant-pro-steps-form-container {
    min-width: 300px;
    padding:0;
    margin:0;
    width: 100%;
    .ant-form > div:not(.ant-pro-form-light-filter) .pro-field-sm {
      width: 310px;
    }

  }
}

@media (min-width: 768px) {
  .ant-pro-steps-form-container {
    min-width: 500px;
    padding:0;
    margin:0;
    width: 100%;
    .ant-form > div:not(.ant-pro-form-light-filter) .pro-field-sm {
      width: 310px;
    }
  }
}

@media (min-width: 1024px) {
  .ant-pro-steps-form-container {
    min-width: 600px;
    padding:0;
    margin:0;
    width: 100%;
    .ant-form > div:not(.ant-pro-form-light-filter) .pro-field-sm {
      width: 600px;
    }
  }
}

@media (min-width: 1280px) {
  .container-wrapper {
    max-width:1024px
  }
}

@media (min-width: 1536px) {
  .container-wrapper {
    max-width:1024px
  }
}
