@import '../../Common/common.less';
@import '../../Common/custom.less';

@import '../../Common/nav3.less';
@import '../../Common/footer1.less';
@import 'edit.less';
@import 'content.less';


.home-page-wrapper {
  .ant-space-horizontal {
    text-align: center;
    margin: 0 auto;
  }
}
.home-page {
  padding: 0 24px;
}
